body {
    margin: 0;
    width: 100%;
}

#scene {
    position: relative;
    width: 100vw;
    height: 57vw;

    margin: 0 auto;
    overflow: hidden;
}
#baggrund {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(baggrund_redesign-01.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}

#forgrund {
     position: absolute;
    top: 15vw;
    left: 20vw;
    width: 120vw;
    height: 40vw;
    background-image: url(forgrund.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

/*NØRD KARAKTER*/

#noerd_container {
    position: absolute;
    z-index: 2;
}

#noerd_sprite {
    background-image: url(noerd_walkcycle_ny-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;

}
.noerd_movein {
     animation-name: noerd_movein_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes noerd_movein_kf {
    0% {
        transform: translate(100vw, 20vw);
    }

    100% {
        transform: translate(50vw, 30vw);
    }

}

.noerd_positionin {
    transform: translate(50vw, 30vw);
}

.noerd_walkcycle {
    animation-name: noerd_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes noerd_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/*Kat KARAKTER*/

#kat_container {
    position: absolute;
    z-index: 2;
}

#kat_sprite {
    background-image: url(kat_walkcycle_done-01.svg);
    background-size: 300% 100%;
    width: 14vw;
    height: 20vw;
}

.kat_movein {
     animation-name: kat_movein_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes kat_movein_kf {
    0% {
        transform: translate(100vw, 20vw);
    }

    100% {
        transform: translate(50vw, 30vw);
    }

}

.kat_positionin {
    transform: translate(50vw, 30vw);
}

.kat_walkcycle {
    animation-name: kat_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes kat_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300% 0;
    }
}

/* DØR ANIMATION */
#doer_container {
    position: absolute;
    z-index: 2;
}

#doer_sprite {
     background-image: url(doer_walkcycle_ny-01.svg);
    background-size: 200% 100%;
    width: 14vw;
    height: 20vw;
}

.doer_open {
    background-position: 0 0;
}

.doer_closed  {
    background-position: -100% 0;
}

/* 6ix9ine KARAKTER */

#celeb_container {
    position: absolute;
    z-index: 2;
}

#celeb_sprite {
    background-image: url(walk_6ix9ine-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.celeb_walkcycle {
    animation-name: celeb_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes celeb_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/* DRENG KARAKTER */

#dreng_container {
    position: absolute;
    z-index: 2;
}

#dreng_sprite {
    background-image: url(walk_hovedpersonen-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.dreng_movein {
     animation-name: dreng_movein_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes dreng_movein_kf {
    0% {
        transform: translate(100vw, 20vw);
    }

    100% {
        transform: translate(50vw, 30vw);
    }

}

.dreng_positionin {
    transform: translate(50vw, 30vw);
}

.dreng_walkcycle {
    animation-name: dreng_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes dreng_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/* KVINDE KARAKTER */

#kvinde_container {
    position: absolute;
    z-index: 2;
}

#kvinde_sprite {
     background-image: url(kvinde_walkcycle-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.kvinde_movein {
     animation-name: kvinde_movein_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes kvinde_movein_kf {
    0% {
        transform: translate(100vw, 20vw);
    }

    100% {
        transform: translate(50vw, 30vw);
    }

}

.kvinde_positionin {
    transform: translate(50vw, 30vw);
}

.kvinde_walkcycle {
    animation-name: kvinde_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes kvinde_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/* PHONE POV KARAKTER */

#phone_container {
    position: absolute;
    z-index: 2;
}

#phone_sprite {
     background-image: url(phone_walk_rettet-01.svg);
    background-size: 500% 100%;
    width: 19vw;
    height: 25vw;
}

.phone_positionin {
    transform: translate(-5vw, 31.4vw);
}

.phone_tom {
    background-position: 0 0;
}

.phone_celeb {
    background-position: -100% 0;
}

.phone_kvinde {
    background-position: -200% 0;
}

.phone_kat {
    background-position: -300% 0;
}

.phone_noerd {
    background-position: -400% 0;
}

/* VALG */

#valg_question {
    background-image: url(valg_01_projekt.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 40vw;
    position: absolute;
    pointer-events: none;
    display: none;
}
#valg_ja {
     background-image: url(valg_01_ja.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 19vw;
    position: absolute;
    cursor: pointer;
    display: none;
}
#valg_nej {
     background-image: url(valg_01_nej.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 19vw;
    position: absolute;
    cursor: pointer;
    display: none;
}

#info_box {
    background-image: url(pjece_logoer_projekt-01.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 40vw;
    position: absolute;
    pointer-events: none;
    display: none;
}
