body {
    margin: 0;
    width: 100%;
}

#scene {
    position: relative;
    width: 100vw;
    height: 57vw;

    margin: 0 auto;
    overflow: hidden;
}
#baggrund {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(baggrund_redesign-01.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

#forgrund {
     position: absolute;
    top: 15vw;
    left: 20vw;
    width: 120vw;
    height: 40vw;
    background-image: url(forgrund.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

/*NØRD KARAKTER*/

#noerd_sprite {
    background-image: url(noerd_walkcycle-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;

}

.noerd_walkcycle {
    animation-name: noerd_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes noerd_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/*Kat KARAKTER*/

#kat_sprite {
    background-image: url(kat_walkcycle_done-01.svg);
    background-size: 300% 100%;
    width: 14vw;
    height: 20vw;
}

.kat_walkcycle {
    animation-name: kat_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes kat_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300% 0;
    }
}

/* DØR ANIMATION */

#doer_sprite {
     background-image: url(doer_walkcycle-01.svg);
    background-size: 200% 100%;
    width: 14vw;
    height: 20vw;
}

.doer_open {
    background-position: 0 0;
}

.doer_closed  {
    background-position: -100% 0;
}

/* 6ix9ine KARAKTER */

#celeb_sprite {
    background-image: url(walk_6ix9ine-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.celeb_walkcycle {
    animation-name: celeb_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes celeb_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/* DRENG KARAKTER */

#dreng_sprite {
    background-image: url(walk_hovedpersonen-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.dreng_walkcycle {
    animation-name: dreng_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes dreng_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/* KVINDE KARAKTER */

#kvinde_sprite {
     background-image: url(kvinde_walkcycle-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.kvinde_walkcycle {
    animation-name: kvinde_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes kvinde_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}
