body {
    margin: 0;
    width: 100%;
}

#scene {
    position: relative;
    width: 100vw;
    height: 56vw;

    margin: 0 auto;
    overflow: hidden;
}

.scene_flash {
    animation-name: scene_flash_kf;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes scene_flash_kf {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

#baggrund {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(baggrund_redesign-01.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}

#forgrund {
     position: absolute;
    top: 16vw;
    left: 20vw;
    width: 120vw;
    height: 40vw;
    background-image: url(forgrund.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

/*NØRD KARAKTER*/

#noerd_container {
    position: absolute;
    z-index: 2;
}

#noerd_sprite {
    background-image: url(noerd_walkcycle_ny-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;

}

.noerd_positionstart {
    transform: translate(100vw, 20vw);
}

.noerd_movein {
     animation-name: noerd_movein_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes noerd_movein_kf {
    0% {
        transform: translate(100vw, 20vw);
    }

    100% {
        transform: translate(50vw, 30vw);
    }

}

.noerd_positionin {
    transform: translate(50vw, 30vw);
}

.noerd_walkcycle {
    animation-name: noerd_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes noerd_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/*Kat KARAKTER*/

#kat_container {
    position: absolute;
    z-index: 2;
}

#kat_sprite {
    background-image: url(kat_walkcycle_done-01.svg);
    background-size: 300% 100%;
    width: 14vw;
    height: 20vw;
}

.kat_positionstart {
    transform: translate(100vw, 20vw);
}

.kat_movein {
     animation-name: kat_movein_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes kat_movein_kf {
    0% {
        transform: translate(100vw, 25vw);
    }

    100% {
        transform: translate(50vw, 35vw);
    }

}

.kat_positionin {
    transform: translate(50vw, 35vw);
}

.kat_walkcycle {
    animation-name: kat_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes kat_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300% 0;
    }
}

/* DØR ANIMATION */
#doer_container {
    position: absolute;
    z-index: 2;
    right: -1.5vw;
    top: 20vw;
}

#doer_sprite {
     background-image: url(doer_walkcycle_ny-01.svg);
    background-size: 200% 100%;
    width: 14vw;
    height: 20vw;
}

.doer_open {
    background-position: 0 0;
}

.doer_closed  {
    background-position: -100% 0;
}

/* 6ix9ine KARAKTER */

#celeb_container {
    position: absolute;
    z-index: 2;
}

#celeb_sprite {
    background-image: url(walk_6ix9ine-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.celeb_positionstart {
    transform: translate(100vw, 20vw);
}

.celeb_movein {
     animation-name: celeb_movein_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes celeb_movein_kf {
    0% {
        transform: translate(100vw, 20vw);
    }

    100% {
        transform: translate(50vw, 30vw);
    }

}

.celeb_positionin {
    transform: translate(50vw, 30vw);
}

.celeb_walkcycle {
    animation-name: celeb_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes celeb_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/* DRENG KARAKTER */

#dreng_container {
    position: absolute;
    z-index: 2;
}

#dreng_sprite {
    background-image: url(walk_hovedpersonen-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.dreng_positionstart {
    transform: translate(100vw, 20vw);
}

.dreng_movein {
     animation-name: dreng_movein_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes dreng_movein_kf {
    0% {
        transform: translate(100vw, 22vw);
    }

    100% {
        transform: translate(-20vw, 47vw) scale(1.5);
    }

}

.dreng_positionin {
    transform: translate(-20vw, 40vw);
}

.dreng_walkcycle {
    animation-name: dreng_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes dreng_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/* KVINDE KARAKTER */

#kvinde_container {
    position: absolute;
    z-index: 2;
}

#kvinde_sprite {
     background-image: url(kvinde_walkcycle-01.svg);
    background-size: 400% 100%;
    width: 14vw;
    height: 20vw;
}

.kvinde_positionstart {
    transform: translate(100vw, 20vw);
}

.kvinde_movein {
     animation-name: kvinde_movein_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes kvinde_movein_kf {
    0% {
        transform: translate(100vw, 20vw);
    }

    100% {
        transform: translate(50vw, 30vw);
    }

}

.kvinde_positionin {
    transform: translate(50vw, 30vw);
}

.kvinde_walkcycle {
    animation-name: kvinde_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes kvinde_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}

/* PHONE POV KARAKTER */

#phone_container {
    position: absolute;
    z-index: 2;
}

#phone_sprite {
     background-image: url(phone_walk_rettet-01.svg);
    background-size: 500% 100%;
    width: 19vw;
    height: 27.2vw;
}

.phone_positionin {
    transform: translate(0vw, 31.4vw);
}

.phone_positionblitz {
    transform: translate(0vw, 31.4vw);
}

.phone_tom {
    background-position: 0 0;
}

.phone_celeb {
    background-position: -100% 0;
}

.phone_kvinde {
    background-position: -200% 0;
}

.phone_kat {
    background-position: -300% 0;
}

.phone_noerd {
    background-position: -400% 0;
}

/* VALG */

#valg_question {
    background-image: url(valg_01_ny.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 40vw;
    left: 13vw;
    top: 1vw;
    position: absolute;
    pointer-events: none;
    display: none;
    z-index: 2;
}
#valg_ja {
     background-image: url(valg_01_ja.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 9vw;
    height: 6.3vw;
    left: 20.5vw;
    top: 13.5vw;
    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 3;
}
#valg_nej {
     background-image: url(valg_01_nej.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 9vw;
    height: 6.3vw;
    left: 34.5vw;
    top: 13.5vw;
    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 3;
}

#info_box {
    background-image: url(pjece_logoer_projekt_ny.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 35vw;
    left: 5vw;
    top: 3vw;
    position: absolute;
    pointer-events: none;
    display: none;
    z-index: 3;
}

#credit_try_again {
    background-image: url(proev_igen.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    bottom: 5vw;
    left: 20vw;
    position: absolute;
    display: none;
    z-index: 3;
    cursor: pointer;
}

#credit_antal_rigtige {
    background-image: url(pjece_logoer_projekt_rigtig.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 35vw;
    right: 5vw;
    top: 3vw;
    position: absolute;
    pointer-events: none;
    display: none;
    z-index: 3;
}

#credit_antal_forkert {
    background-image: url(pjece_logoer_projekt_forkert.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 35vw;
    right: 5vw;
    top: 3vw;
    position: absolute;
    pointer-events: none;
    display: none;
    z-index: 3;
}
#link_privatsnak a {
  position: absolute;
  z-index: 2;
  text-decoration: none;
  color: white;
  background-color: #F38B2E;
  font-size: 2em;
  bottom: 2vw;
  right: 35vw;
}

#link_privatsnak a:hover {
    color: #0D1B28;
}
